/* Pengaturan Umum Secara Keseluruhan */
html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}
html::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}
html { /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
}
* { /* Ukuran Halaman */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { /* isi HTML */
    background-color: #FCF8E8;
}
section { /* Halaman */
    height: 100vh;
    position: relative;
}
p { /* Paragraf */
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 0.1;
    padding-top: 0.5rem;
}
td { /* isi tabel */
    text-align: center;
}


/* HALAMAN 1 */
#title { /* Pengaturan Halaman Awal */
    font-family: "Poppins", sans-serif;
    background-color: #291D89;
    color: #fff;
    padding: 3% 11%;
}
.navbar { /* Nav Bar */
    padding: 0 0rem;
}
.navbar-brand { /* Tulisan (Kalkulator Pintar) */
    font-size: 1.25rem;
    padding-right: 33rem;
    font-weight: 600;
}
.nav-item { /* Tulisan (Brute Force & Greedy) */
    padding: 0 20px;
}
.nav-link { /* Tulisan (Brute Force & Greedy) */
    font-size: 1rem;
}
.p1 { /* Tulisan (Pemilihan Kombinasi Potongan Harga) */
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 700;
    padding: 10% 11% 0%;
}
.p2 { /* Tulisan (Brute Force Vs Greedy Mana algoritma yang lebih optimal?) */
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 3% 11% 0%;
    font-weight: 400;
}
.button { /* Tombol (Mulai) */
    text-align: center;
    padding: 1% 11% 0%;
}


/* HALAMAN 2 & 3 */
#algoritma1 { /* Pengaturan Halaman Brute Force */
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    color: #000;
    padding: 4% 12%;
}
#algoritma2 { /* Pengaturan Halaman Greedy */
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    color: #000;
    padding: 4% 12%;
}
.algo { /* Tulisan (Judul Halaman) */
    font-size: 1.1rem;
    font-weight: 700;
    padding-bottom: 1rem;
}
.tabel { /* Pengaturan Tabel Perhitungan */
    padding: 0% 5% 0% 10%;
}
.untung { /* Jarak Tombol Hitung Dengan Keuntungan */
    padding: 10% 0% 0% 0%;
}
.button-hitung { /* Tombol Hitung */
    color: #fff;
    background-color: #291D89;
}
.button-table { /* Tombol Hapus Semua DLL */
    color: #fff;
    background-color: #291D89;
    text-align: center;
    padding: 1% 9% 1% ;
}
.vertical-button { /* Pengaturan Posisi button-table */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.output { /* Pengaturan Warna Kolom Output */
    background-color: #FAFAFA !important;
}
.tabel-output { /* Pengaturan Kolom Output Akhir */
    padding-top: 0rem !important;
}
.judul-tabel { /* Pengaturan judul pada tabel */
    font-family: "Poppins", sans-serif !important;
    text-align: center !important;
    font-weight: 400 !important;
    font-size: 0.8rem !important;
}
.jarak-outputBF { /* Pengaturan jarak Kolom */
    padding-top: 1.05rem !important;
}
.jarak-outputG { /* Pengaturan jarak Kolom */
    padding-top: 0.65rem !important;
}